<fs-examples [config]="config">
  <fs-example
      name="Date Format Pipe Examples"
      componentName="format-example">
    <format-example></format-example>
  </fs-example>
  <fs-example
      name="Ago Examples"
      componentName="ago-example">
    <ago-example></ago-example>
  </fs-example>
  <fs-example
      name="Duration Example"
      componentName="duration-example">
    <duration-example></duration-example>
  </fs-example>
  <fs-example
      name="Range Example"
      componentName="range-example">
    <range-example></range-example>
  </fs-example>
  <fs-example
      name="Functions"
      componentName="date-example">
    <date-example></date-example>
  </fs-example>
</fs-examples>