<fs-examples
  [config]="config">

  <fs-example title="Format Examples" componentName="format-example">
      <format-example></format-example>
  </fs-example>

  <fs-example title="Ago Examples" componentName="ago-example">
      <ago-example></ago-example>
  </fs-example>

  <fs-example title="Duration Example" componentName="duration-example">
    <duration-example></duration-example>
  </fs-example>

  <fs-example title="Range Example" componentName="range-example">
      <range-example></range-example>
  </fs-example>

</fs-examples>
