<table class="table">
  <thead>
    <tr>
      <th>
        Format
      </th>
      <th>
        Context
      </th>
      <th>
        Output
      </th>
      <th>
        Pipe
      </th>
      <th>
        Service
      </th>
    </tr>
  </thead>
  @for (example of examples; track example) {
    <tr>
      <td>
        {{ example.format }}
      </td>
      <td>
        {{ example.context }}
      </td>
      <td>
        {{ example.result }}
      </td>
      <td>
        {{ example.codePipe }}
      </td>
      <td>
        {{ example.codeService }}
      </td>
    </tr>
  }
</table>